/* BASE STYLES */
html {
    font-size: 62.5%;
    /* font-size: 10px */
}

body {
    font-family: $base-font;
    font-weight: normal;
    font-size: 1.8rem;
    color: $dark-color;
    text-align: left;
}

p {
    line-height: 3.2rem;
}


.wrapper--main {
    max-width: 1600px;
    margin: 0 auto;
    border: 2px tomato solid;
}

.wrapper--narrow {
    // display: flex;
    width: 80%;
    margin: 40px auto;
    border: 2px solid yellow;
}

// h1
.main-heading {
    @include font-size(8rem);
    
}

h2 {
    @include font-size(4.2rem);
}


h3 {
    @include font-size(3.2rem);
}

h4 {
    @include font-size(2.4rem);
    margin: 0;
}