 // HEADER STYLING

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    color: $light-color;
        // nav general styling
        .nav {
            display: flex;
            justify-content: center;

            &.nav--green {
                width: 100%;
                background: $primary-color;
            }
            .nav__list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                margin: 10px 0;
                padding-left: 0;
            }
        }

    // home page header
    &.header--home {
        min-height: 70vh;
        background: $primary-color;
    }

    // blog & news page header
    &.header--blog-news {
        justify-content: space-between;
        width: 100%;
        min-height: 57vh;
        background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../assets/blog-image-1.jpg);
        background-position: bottom center;
        background-repeat: no-repeat;
    }

    // contact me page header
    &.header--contact-me {
        justify-content: space-between;
        width: 100%;
        min-height: 57vh;
        background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../assets/contact-image-1.jpg);
        background-position: bottom center;
        background-repeat: no-repeat;
    }
}


// NAV LIST ITEM STYLING

 .nav__item {
    display: inline;
    list-style: none;
    margin: 0 10px;
    font-size: 2rem;
    font-weight: bold;
    
    .nav__link {
        text-decoration: none;
        padding: 20px 20px;
        color: $light-color;

        &:hover {
            color: $accent-color;
            transition: 0.2s ease-in;
        }
    }

    &.nav__item--logo .nav__heading {
        color: $light-color;
    }
}


// MAIN HEADING STYLING

.main-heading__container {
    display: flex;
    align-items: center;
    
    // main heading large styling
    .main-heading--large {
        width: 56%;
        position: relative;
        margin-left: 50px;
        margin-right: 30px;

        .main-heading__mobile-text {
            display: none;
            text-transform: uppercase;
            color: $light-color;
            font-size: 2rem;
            font-family: $base-font;
        }

        .main-heading__image {
            height: 100%;
            position: absolute;
            left: -50px;
            
            img {
                display: block;
                width: 100%;
            }
        }
        .main-heading__text {
            margin: 0 auto;
            font-size: 14rem;
            color: $light-color;
        }
    }

    .header-photo {
        height: 70vh;
        width: 44%;
        position: relative;
        display: flex;
        align-items: center;
        
        .header-photo__image {
            width: 90%;
            margin-top: 80px;
            box-shadow: 18px 18px white;
        }
    }
}

// main heading small styling
.main-heading--small {
    margin-bottom: -25px;

    h1 {
        @include font-size(8rem);
        color: $light-color;
    }
}


/* HAMBURGER MENU DEFAULTS */
.mobile-nav {
    display: none;
}

.hamburger-container {
    width: 100%;
    display: flex;

    justify-content: flex-end;

}

.open-hamburger {
    display: none;

    margin: 20px;
}

.preventAllScrollingOnBody {
    overflow: hidden;
}


