 // HEADER STYLING
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    color: $light-color;
        // NAV LIST STYLING
        .nav {
            display: flex;
            justify-content: center;

            &.nav--green {
                width: 100%;
                background: $primary-color;
            }
            .nav__list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                padding-left: 0;
                margin: 10px 0;
            }
        }

    // HOME PAGE HEADER
    &.header--home {
        min-height: 70vh;
        background: $primary-color;
    }

    // BLOG NEWS PAGE HEADER
    &.header--blog-news {
        justify-content: space-between;
        width: 100%;
        min-height: 57vh; // 60vh;

        background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../assets/blog-image-1.jpg);
        background-position: bottom center;
        background-repeat: no-repeat;
    }

    // CONTACT ME PAGE HEADER
    &.header--contact-me {
        justify-content: space-between;
        width: 100%;
        height: 57vh;

        background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../assets/contact-image-1.jpg);
        background-position: bottom center;
        background-repeat: no-repeat;
    }
}


// NAV LIST ITEM STYLING
 .nav__item {
    display: inline;
    list-style: none;
    margin: 0 10px;
    font-size: 2rem;
    font-weight: bold;
    
    .nav__link {
        text-decoration: none;
        color: $light-color;
        padding: 20px 20px;

        &:hover {
            color: $accent-color;
            transition: 0.2s ease-in;
        }
    }

    &.nav__item--logo .nav__heading {
        color: $light-color;
    }
}


// MAIN HEADING STYLING
.main-heading__container {
    display: flex;
    align-items: center;
    
    // MAIN HEADING LARGE
    .main-heading--large {
        width: 80%;
        position: relative;
        margin-left: 50px;

        .main-heading__image {
            height: 100%;
            position: absolute;
            left: -50px;
            
            img {
                display: block;
                width: 100%;
            }
        }
        .main-heading__text {
            margin: 0 auto;
            font-size: 14rem;
            color: $light-color;
        }
    }

    .header-photo {
        height: 70vh;
        width: 100%;

        position: relative;

        .header-photo__image {
            width: 100%;

            position: absolute;
            left: 10px;
            top: 10px;

            // height: 10px;
        }
    }
}

// MAIN HEADING SMALL
.main-heading--small {
    margin-bottom: -26px;

    h1 {
        @include font-size(8rem);
        color: $light-color;
    }
}


