// HOME PAGE 1
// ABOUT SECTION
.about-section {
    padding: 60px 0;
    background: $light-color;
    .about-section__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}


// BLOGPOST SECTION
.blog-section {
    display: flex;
    flex-wrap: wrap;

    .blogpost {
        display: flex;
        justify-content: space-between;
        
        .blogpost__image {
            width: 50%;
            box-shadow: 20px 20px $secondary-color;
            img {
                display: block;
                width: 100%;
                // box-shadow: 20px 20px $secondary-color;
            }
            
        }
        .blogpost__content{
            width: 40%;
            margin: 20px 60px;
        }
    }
    .blogpost--left-side {
        flex-direction: row-reverse;
        .blogpost__image {
            box-shadow: 20px 20px $primary-color;
            img {
                // box-shadow: 20px 20px $primary-color;
            }
        }
        .blogpost__content{
            text-align: right;
        }
    }
}


// JOURNEY SECTION
.journey-section {
    background: $light-color;
    padding: 60px 0;
    .journey-section__wrapper {
        display: flex;
        align-items: center;

        .journey-section__image {
            width: 40%;
            img {
                display: block;
                width: 70%;
                box-shadow: 15px 15px $secondary-color;
            }
        }
        .journey-section__content {
            width: 70%;
            h2 {
                margin-top: 0;
                line-height: 1;
            }
        }
    }
}


// BANNER SECTION
.banner-image {
    background-image: url(../assets/home-image-5.jpg);
    // width: 100px;
    // height: 400px;
    // background-position: center;
    // background-position: right top;
    // background-repeat: no-repeat;
    background-size: auto;
    // background-position: center center;
    object-fit: cover;
    min-height: 50vh;
}


// GALLERY SECTION
.gallery-section {
    .gallery-list {
        display: flex;
        justify-content: space-between;
        padding-left: 0;
        margin: 0;
        list-style: none;
        .gallery-list__item {
            width: 31%;
            img {
                display: block;
                width: 100%;
            }
        }
        &.gallery-list__item:last-child {
            margin-right: 0;
        }
    }
}


// INFO SECTION
.site-info-section {
    background: $light-color;
    padding: 30px 0;
    .site-info-section__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
        .site-info-item {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: 10px 0;
        }
    }  
} 
        
.site-info-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 20px;
    margin-right: 20px;
    background-color: $accent-color;
    .site-info-item__link {
        line-height: 0;
        padding: 10px;
        color: $dark-color;
        .fas {
            text-align: center;      
        }
    }
}




