//FONTS

$base-font: 'Montserrat', sans-serif;
$accent-font: 'Abril Fatface', cursive;

// COLORS

$primary-color: #345231;
//Pine (52, 82, 49)

$secondary-color: #709b6b;
//Green grey (112, 155, 107)

$accent-color: #e4a436;
//yellow accent (228, 164, 54)

$dark-color: #1f1f1f;
//black( 31, 31, 31)

$light-color: #f6f6f6;
//white shade (246, 246, 246)



