@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /* font-size: 10px */ }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 1.8rem;
  color: #1f1f1f;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

section {
  padding: 100px 0; }

p {
  line-height: 3.2rem;
  margin-bottom: 30px; }

a {
  text-decoration: none;
  color: #1f1f1f; }

.wrapper--main {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto; }

.wrapper--narrow {
  width: 80%;
  margin: 0px auto; }

.main-heading {
  font-family: "Abril Fatface", cursive;
  font-size: 8rem;
  font-weight: normal;
  color: #1f1f1f;
  text-transform: uppercase;
  margin: 0; }

h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 4.2rem;
  font-weight: normal;
  color: #1f1f1f;
  text-transform: uppercase;
  margin: 0; }

h3 {
  font-family: "Abril Fatface", cursive;
  font-size: 3.2rem;
  font-weight: normal;
  color: #1f1f1f;
  text-transform: uppercase;
  margin: 0; }

h4 {
  font-family: "Abril Fatface", cursive;
  font-size: 2.4rem;
  font-weight: normal;
  color: #1f1f1f;
  text-transform: uppercase;
  margin: 0;
  margin: 0; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  color: #f6f6f6; }
  .header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .header .nav.nav--green {
      width: 100%;
      background: #345231; }
    .header .nav .nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 10px 0;
      padding-left: 0; }
  .header.header--home {
    min-height: 70vh;
    background: #345231; }
  .header.header--blog-news {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    min-height: 57vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../assets/blog-image-1.jpg);
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/blog-image-1.jpg);
    background: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/blog-image-1.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/blog-image-1.jpg);
    background-position: bottom center;
    background-repeat: no-repeat; }
  .header.header--contact-me {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    min-height: 57vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../assets/contact-image-1.jpg);
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/contact-image-1.jpg);
    background: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/contact-image-1.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/contact-image-1.jpg);
    background-position: bottom center;
    background-repeat: no-repeat; }

.nav__item {
  display: inline;
  list-style: none;
  margin: 0 10px;
  font-size: 2rem;
  font-weight: bold; }
  .nav__item .nav__link {
    text-decoration: none;
    padding: 20px 20px;
    color: #f6f6f6; }
    .nav__item .nav__link:hover {
      color: #e4a436;
      -webkit-transition: 0.2s ease-in;
      -o-transition: 0.2s ease-in;
      transition: 0.2s ease-in; }
  .nav__item.nav__item--logo .nav__heading {
    color: #f6f6f6; }

.main-heading__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .main-heading__container .main-heading--large {
    width: 56%;
    position: relative;
    margin-left: 50px;
    margin-right: 30px; }
    .main-heading__container .main-heading--large .main-heading__mobile-text {
      display: none;
      text-transform: uppercase;
      color: #f6f6f6;
      font-size: 2rem;
      font-family: "Montserrat", sans-serif; }
    .main-heading__container .main-heading--large .main-heading__image {
      height: 100%;
      position: absolute;
      left: -50px; }
      .main-heading__container .main-heading--large .main-heading__image img {
        display: block;
        width: 100%; }
    .main-heading__container .main-heading--large .main-heading__text {
      margin: 0 auto;
      font-size: 14rem;
      color: #f6f6f6; }
  .main-heading__container .header-photo {
    height: 70vh;
    width: 44%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .main-heading__container .header-photo .header-photo__image {
      width: 90%;
      margin-top: 80px;
      -webkit-box-shadow: 18px 18px white;
      box-shadow: 18px 18px white; }

.main-heading--small {
  margin-bottom: -25px; }
  .main-heading--small h1 {
    font-family: "Abril Fatface", cursive;
    font-size: 8rem;
    font-weight: normal;
    color: #1f1f1f;
    text-transform: uppercase;
    margin: 0;
    color: #f6f6f6; }

/* HAMBURGER MENU DEFAULTS */
.mobile-nav {
  display: none; }

.hamburger-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.open-hamburger {
  display: none;
  margin: 20px; }

.preventAllScrollingOnBody {
  overflow: hidden; }

.btn {
  text-decoration: none;
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  font-weight: normal;
  color: #1f1f1f;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 20px;
  background-color: #e4a436; }
  .btn:hover {
    -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.6);
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }

.aside-section {
  width: 30%;
  padding-bottom: 20px; }

.aside-content {
  margin-bottom: 20px;
  padding: 30px;
  padding-bottom: 10px;
  background: white; }
  .aside-content img {
    display: block;
    width: 100%; }
  .aside-content .aside-content__heading {
    margin-top: 30px;
    margin-bottom: 0; }
  .aside-content p {
    margin-top: 0;
    margin-bottom: 5px; }
    .aside-content p a:hover {
      opacity: 0.6; }
  .aside-content .aside-content-email {
    margin: 15px 0;
    font-weight: bold; }
  .aside-content .aside-content__text a {
    font-weight: bold;
    color: #709b6b; }
    .aside-content .aside-content__text a:hover {
      opacity: 0.8; }

.aside-posts {
  padding: 30px;
  padding-bottom: 10px;
  background: white; }
  .aside-posts .aside-posts__heading {
    margin-top: 10px;
    margin-bottom: 0; }

.aside-posts__list {
  list-style-type: none;
  padding-left: 0; }
  .aside-posts__list .aside-posts__list-item {
    margin: 10px; }
    .aside-posts__list .aside-posts__list-item:hover a {
      color: #709b6b; }
    .aside-posts__list .aside-posts__list-item::before {
      content: "•";
      margin-right: 10px;
      font-size: 1.9rem; }

.about-section,
.journey-section,
.site-info-section {
  background: #f6f6f6; }

.about-section {
  padding-bottom: 150px;
  background: #f6f6f6; }
  .about-section .about-section__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }

.blog-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0; }

.blogpost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: -30px;
  margin-bottom: 40px; }
  .blogpost .blogpost__image {
    width: 50%;
    height: 375px;
    position: relative;
    background: #709b6b; }
    .blogpost .blogpost__image img {
      display: block;
      width: 600px;
      position: absolute;
      right: 10px;
      bottom: 20px;
      -webkit-box-shadow: 20px 20px #709b6b;
      box-shadow: 20px 20px #709b6b; }
  .blogpost .blogpost__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 50%;
    padding: 0 60px; }

.blogpost--left-side {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin-top: 40px;
  margin-bottom: -50px; }
  .blogpost--left-side .blogpost__image {
    margin-left: 20px;
    background: #345231; }
    .blogpost--left-side .blogpost__image img {
      left: -20px;
      -webkit-box-shadow: 20px 20px #345231;
      box-shadow: 20px 20px #345231; }
  .blogpost--left-side .blogpost__content {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: right;
    margin-top: -20px; }

.journey-section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .journey-section__wrapper .journey-section__image {
    width: 40%; }
    .journey-section__wrapper .journey-section__image img {
      display: block;
      width: 70%;
      -webkit-box-shadow: 15px 15px #709b6b;
      box-shadow: 15px 15px #709b6b; }
  .journey-section__wrapper .journey-section__content {
    width: 70%; }
    .journey-section__wrapper .journey-section__content h2 {
      margin-top: 0;
      line-height: 1; }

.banner-image {
  background-image: url(../assets/home-image-5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  -o-object-fit: cover;
  object-fit: cover;
  min-height: 50vh; }

.gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 0;
  margin: 0;
  list-style: none; }
  .gallery-list .gallery-list__item {
    width: 31%; }
    .gallery-list .gallery-list__item img {
      display: block;
      width: 100%; }
  .gallery-list.gallery-list__item:last-child {
    margin-right: 0; }

.site-info-section {
  padding: 70px 0; }
  .site-info-section .site-info-section__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto; }
    .site-info-section .site-info-section__wrapper .site-info-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 48%;
      margin: 10px 0; }

.site-info-item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 20px;
  padding: 20px;
  background-color: #e4a436; }
  .site-info-item__icon .site-info-item__link {
    line-height: 0;
    padding: 10px;
    color: #1f1f1f; }
    .site-info-item__icon .site-info-item__link .fas {
      text-align: center; }

.blog-body {
  background: #f6f6f6; }

.wrapper--contact-content,
.wrapper--blog-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 80px auto; }

.blog-main {
  width: 67%; }
  .blog-main .blogpost-body-section {
    background: white;
    margin-bottom: 30px;
    padding: 30px; }
    .blog-main .blogpost-body-section h3 {
      margin-bottom: 20px; }
    .blog-main .blogpost-body-section p {
      margin-top: 0;
      margin-bottom: 10px; }

.blogpost-comments-section {
  padding: 0; }

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  background: white;
  margin-top: 20px; }
  .comment .comment__image {
    width: 20%;
    max-width: 90px;
    margin-right: 20px; }
    .comment .comment__image img {
      display: block;
      width: 100%; }
  .comment .comment__content {
    width: 80%; }
    .comment .comment__content .comment-text {
      margin: 0; }

.blogpost-body-section,
.comment:last-child {
  border-bottom: 5px solid #709b6b; }

.contact-body {
  background: #f6f6f6; }

.contact-form-section {
  padding-top: 0;
  width: 67%; }

.aside-content__social-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  padding-left: 0; }
  .aside-content__social-list .social-list-item {
    width: 20%; }
    .aside-content__social-list .social-list-item a .fab {
      font-size: 2.2rem;
      color: #345231; }
    .aside-content__social-list .social-list-item a:hover {
      opacity: 0.6; }

.comment-form-section {
  padding: 0;
  margin: 30px 0; }

.message-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .message-form .message-form__input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px; }
    .message-form .message-form__input-container input {
      width: 49%;
      border: none;
      padding: 20px; }
  .message-form textarea {
    width: 100%;
    resize: none;
    border: none;
    margin-bottom: 20px;
    padding: 20px; }
  .message-form .message-form__button {
    width: 100%;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.footer {
  width: 100%;
  text-align: center;
  background-color: #1f1f1f;
  color: #f6f6f6; }
  .footer p {
    margin: 0;
    padding: 10px; }

@media (max-width: 1200px) {
  .wrapper--narrow {
    width: 96%;
    margin: 0px auto; }
  .wrapper--contact-content {
    margin-top: 40px; } }

@media (max-width: 1100px) {
  .main-heading__container .main-heading--large .main-heading__image img {
    width: 82%; }
  .main-heading__container .main-heading--large .main-heading__text {
    font-size: 12rem; } }

@media (max-width: 992px) {
  .main-heading__container .main-heading--large .main-heading__image img {
    width: 65%; }
  .main-heading__container .main-heading--large .main-heading__text {
    font-size: 9rem; }
  .main-heading__container .header-photo {
    height: 62vh; }
    .main-heading__container .header-photo .header-photo__image {
      margin-top: 0;
      -webkit-box-shadow: none;
      box-shadow: none; }
  .about-section {
    padding-top: 30px;
    padding-bottom: 50px; }
  .blogpost {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .blogpost:first-child {
      margin-bottom: 0;
      margin-top: 30px; }
      .blogpost:first-child .blogpost__content {
        margin-bottom: 30px; }
    .blogpost:last-child {
      margin-top: 0; }
      .blogpost:last-child .blogpost__content {
        margin-bottom: 90px; }
    .blogpost .blogpost__image {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0 auto;
      -webkit-box-shadow: none;
      box-shadow: none; }
      .blogpost .blogpost__image img {
        position: initial; }
    .blogpost .blogpost__content {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      margin: 50px 0; }
      .blogpost .blogpost__content h3 {
        text-align: center; }
      .blogpost .blogpost__content p {
        text-align: center;
        margin-bottom: 10px; }
    .blogpost .blogpost__content:first-child {
      margin-bottom: 0; }
  .banner-image {
    min-height: 35vh; }
  .gallery-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 70%;
    margin: 0 auto; }
    .gallery-list .gallery-list__item {
      width: 100%;
      margin-bottom: 10px; }
  .site-info-section .site-info-section__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 70%; }
    .site-info-section .site-info-section__wrapper .site-info-item {
      width: 100%; }
  .header.header--blog-news {
    min-height: 40vh; }
    .header.header--blog-news .main-heading--small {
      text-align: center;
      margin-bottom: 20px; }
  .wrapper--blog-news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    .wrapper--blog-news .aside-section,
    .wrapper--blog-news .blog-main {
      width: 80%;
      margin: 0 auto; }
    .wrapper--blog-news .blog-main {
      margin-top: 30px; }
    .wrapper--blog-news .aside-section .aside-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .wrapper--blog-news .aside-section .aside-content .aside-content__image {
        width: 40%;
        height: auto;
        margin-right: 20px; }
      .wrapper--blog-news .aside-section .aside-content .aside-content__heading {
        margin-top: 0; }
    .wrapper--blog-news .aside-section .aside-posts {
      text-align: center; }
      .wrapper--blog-news .aside-section .aside-posts .aside-posts__list-item::before {
        content: ""; }
  .header.header--contact-me {
    min-height: 40vh; }
    .header.header--contact-me .main-heading--small {
      text-align: center;
      margin-bottom: 20px; }
  .wrapper--contact-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin-top: 40px; }
    .wrapper--contact-content .aside-section,
    .wrapper--contact-content .contact-form-section {
      width: 80%;
      margin: 0 auto; }
    .wrapper--contact-content .contact-form-section {
      margin-top: 30px; }
  .aside-content .aside-content__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .aside-content .aside-content__social-list .social-list-item {
      width: 10%;
      text-align: center;
      margin: 10px; }
    .aside-content .aside-content__social-list .social-list-item a .fab {
      font-size: 3rem; }
  .aside-content .aside-content__contact p {
    text-align: center; }
  .contact-form-section {
    padding-bottom: 50px; } }

@media (max-width: 768px) {
  .main-heading__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .main-heading__container .main-heading--large {
      margin: 0;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .main-heading__container .main-heading--large .main-heading__image {
        display: none; }
      .main-heading__container .main-heading--large .main-heading__mobile-text {
        display: block; }
      .main-heading__container .main-heading--large .main-heading__text {
        font-size: 7rem;
        text-align: center; }
    .main-heading__container .header-photo .header-photo__image {
      width: 100%; }
  .blogpost .blogpost__image {
    width: 100%; }
    .blogpost .blogpost__image img {
      -webkit-box-shadow: none;
      box-shadow: none;
      width: 100%;
      height: auto; }
  .site-info-section .site-info-section__wrapper {
    width: 90%; }
  .journey-section {
    padding: 50px 0; }
  .journey-section__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .journey-section__wrapper .journey-section__image {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 60%;
      margin-bottom: 40px; }
      .journey-section__wrapper .journey-section__image img {
        width: 100%;
        height: auto;
        -webkit-box-shadow: none;
        box-shadow: none; }
    .journey-section__wrapper .journey-section__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .banner-image {
    min-height: 25vh; }
  .main-heading--small h1 {
    font-size: 4rem; }
  .header.header--blog-news {
    background-size: cover;
    min-height: 20vh; }
  .wrapper--blog-news .aside-section .aside-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .wrapper--blog-news .aside-section .aside-content .aside-content__image {
      width: 60%;
      margin: 0 auto;
      margin-bottom: 20px; }
    .wrapper--blog-news .aside-section .aside-content .aside-content__heading {
      text-align: center;
      margin-bottom: 10px; }
  .comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .comment .comment__image {
      width: 40%;
      max-width: 120px;
      margin-bottom: 10px; }
    .comment .comment__content {
      width: 100%; }
      .comment .comment__content .comment-text:first-child {
        margin-bottom: 10px;
        font-size: 1.4rem; }
  .header .nav {
    display: none; }
  .header.header--contact-me {
    min-height: 20vh; }
  .message-form .message-form__input-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .message-form .message-form__input-container input {
    width: 100%; }
    .message-form .message-form__input-container input:first-child {
      margin-bottom: 20px; }
  /* HAMBURGER MENU */
  .open-hamburger {
    display: block;
    float: right; }
  .open-hamburger .fas,
  .close-hamburger .fas {
    color: #f6f6f6;
    font-size: 3rem; }
  /* OPEN HAMBURGER */
  .sectionHome .narrowWrapper {
    position: relative; }
  .mobile-nav__controls {
    text-align: right;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px; }
  .mobile-nav__controls a {
    display: block; }
  .mobile-nav {
    background: #709b6b;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
  .mobile-nav__list {
    margin-top: 20px;
    padding: 0;
    list-style-type: none; }
  .mobile-nav__list li {
    margin-bottom: 30px;
    text-align: center; }
  .mobile-nav__list li a {
    text-decoration: none;
    color: #f6f6f6;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase; }
  .mobile-nav__list li:active {
    background: rgba(0, 0, 0, 0.192); }
  /* END OF HAMBURGER MENU */ }

@media (max-width: 540px) {
  .main-heading__container .header-photo {
    width: 80%; } }
